*/node_modules/
*.log
browser_app/.vite/
browser_app/dist/
browser_app/minimal_host_and_deploy/
browser_app/minimal_host_and_deploy.zip
browser_app/public/test_image.jpg
data_and_training/*/dl*.txt
!data_and_training/data/l3fds/*/dl*.txt
data_and_training/data/l3fds/ds
data_and_training/data/myvideotest/*_frames/images/
data_and_training/data/myvideotest/*.mp4
data_and_training/data/oi7*
data_and_training/data/VOC*
data_and_training/devtools/*-with-rotation.csv
data_and_training/devtools/downloader.py
data_and_training/devtools/instances_*.json
data_and_training/devtools/OID_COCO_overlaps.csv
data_and_training/devtools/oidv7-class-descriptions-boxable.csv
data_and_training/devtools/oidv6-train-annotations-bbox.csv
data_and_training/devtools/validation-annotations-bbox.csv
data_and_training/models/
thesis_relevant/q_and_a_sources/
